---
layout: base
description: Template for a leaflet map with the observations
---

{{ content }}

<div id="map" style="height: 600px;"></div>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
<style>
  #map {
    height: 600px;
    width: 100%;
  }
  .legend {
    background: white;
    line-height: 1.5em;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }
  .legend em {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
  }
</style>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
<script src="https://d3js.org/d3.v7.min.js"></script>
<script src="https://unpkg.com/proj4"></script>
<script>
  // Initialize the map
  var map = L.map('map', {
    center: [51.0, 4.15], // Set the center of the map
    zoom: 8                // Set the zoom level
  });

  // Define tile layers (background layers)
  var osm = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
  });

  var satellite = L.tileLayer('https://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png', {
    attribution: '© OpenStreetMap FR'
  });

  var terrain = L.tileLayer('https://{s}.tile.opentopomap.org/{z}/{x}/{y}.png', {
    attribution: '© OpenTopoMap'
  });

  // Define species and their colors
  var speciesColors = {
    'Faxonius limosus': '#8ecae6',
    'Faxonius virilis': '#219ebc',
    'Astacus astacus': '#023047',
    'Pontastacus leptodactylus': '#425236',
    'Pacifastacus leniusculus': '#817425',
    'Procambarus clarkii': '#c09614',
    'Procambarus virginalis': '#ffb703',
    'Procambarus acutus': '#fb8500'
  };

  // Add a default tile layer to the map
    satellite.addTo(map);

  // Global variable to hold CSV data (reserved locations)
  let csvArray = [];

  // Global variable to hold JSON data (new observations)
  let jsonArray = [];

  // Layer groups for markers
  const markersLayer = L.layerGroup();
  const jsonLayer = L.layerGroup();

  // Custom row parser to handle semicolon-delimited CSV
  const customRowParser = d3.dsvFormat(";");
  
  // Function to read the CSV file
  async function readCSV(csvFile) {
      try {
        // Fetch the CSV file
        const response = await fetch(csvFile);
        const text = await response.text();

        // Parse the CSV text with the custom row parser
        const csvArray = customRowParser.parse(text);

        // Filter the data where the field 'IsGereserv' is TRUE
        const filteredData = csvArray.filter(row => row.IsGereserv === 'TRUE');
        
        // Call the function to add markers after the CSV is loaded
        addMarkers(filteredData);
      } catch (error) {
        console.error('Error reading the CSV file:', error);
      }
  }

  // Define the EPSG:31370 and WGS84 projections
  //'+proj=utm +zone=31 +ellps=intl +units=m +datum=belge1950';
  const proj31370 = '+proj=lcc +lat_0=90 +lon_0=4.36748666666667 +lat_1=51.1666672333333 +lat_2=49.8333339 +x_0=150000.013 +y_0=5400088.438 +ellps=intl +towgs84=-106.8686,52.2978,-103.7239,-0.3366,0.457,-1.8422,-1.2747 +units=m +no_defs +type=crs'
  const projWGS84 = proj4('EPSG:4326');

  // Function to add markers to the map
  function addMarkers(data) {
      data.forEach(row => {
      // Check if the 'IsGereserv' column is TRUE
      if (row.IsGereserv === 'TRUE') {
        // Parse the coordinates as numbers
        const y = parseFloat(row.y.replace(',', '.'));
        const x = parseFloat(row.x.replace(',', '.'));
        
        // Transform the coordinates from EPSG:31370 to WGS84
        const [lon, lat] = proj4(proj31370, projWGS84, [x, y]);
        
        // Add a marker to the map
        const marker = L.marker([lat, lon]);
        // Bind a popup to the marker with the 'locatieID' column's value
        marker.bindPopup(`<b>locatieID:</b> ${row.locID}<br/><b>gemeente:</b> ${row.gemeente}`);
        markersLayer.addLayer(marker);
      }
    });
    
    // Add markers layer to the map
    markersLayer.addTo(map);
  }

  async function fetchAllData(baseUrl) {
    let offset = 0;
    let allData = [];
    let fetchMoreData = true;

    while (fetchMoreData) {
      const url = `${baseUrl}&offset=${offset}`;
      try {
        const response = await fetch(url);
        if (!response.ok) {
          throw new Error('Network response was not ok');
        }
        const data = await response.json();

        allData = allData.concat(data.results);
        offset += 300;

        // If the number of results returned is less than 300, we've reached the end
        if (data.results.length < 300) {
          fetchMoreData = false;
        }

      } catch (error) {
        console.error('Fetch error:', error);
        fetchMoreData = false; // Exit the loop on error
      }
    }

    // console.log('All data fetched:', allData);
    return allData;
  }

  // Function to add JSON data to the leaflet map
  function addJsonData(data) {
    data.forEach(item => {
      const lat = parseFloat(item.decimalLatitude);
      const lon = parseFloat(item.decimalLongitude);
      if (!isNaN(lat) && !isNaN(lon)) {
        const circle = L.circle([lat, lon], {
            radius: 300, 
            // Default to gray if species not found
            color: speciesColors[item.species] || 'gray',
            fillColor: speciesColors[item.species] || 'gray',
            fillOpacity: 0.5
        });
        circle.bindPopup(`<b>${item.species}</b><br>${item.eventDate}<br>individuals: ${item.individualCount}<br><a href=${item.references} target="_blank">${item.references}</a>`);
        jsonLayer.addLayer(circle);
      }
    });

    // Add JSON layer to the map
    jsonLayer.addTo(map);
  }

  // Function to read the JSON data from the API and add them to the leaflet map
  async function readAndShowJSON(apiUrl) {
    // Call the function to fetch all data
    const occs = await fetchAllData(apiUrl);
    // Call the function to add JSON data to the map
    addJsonData(occs);
  }

  // Path to directly download csv with locations
  const localitiesURL = '/assets/Localities.csv';

  // URL root (URL to call the GBIF API without offset)
  const historicalDataUrl = 'https://api.gbif.org/v1/occurrence/search?basis_of_record=OBSERVATION&basis_of_record=HUMAN_OBSERVATION&basis_of_record=MATERIAL_SAMPLE&country=BE&event_date=2020-06-01,*&taxon_key=2227289&taxon_key=9442269&taxon_key=2227300&taxon_key=2226990&taxon_key=8946295&taxon_key=2226998&taxon_key=8971201&taxon_key=8909595&advanced=1&occurrence_status=present&gadm_gid=BEL.2_1&limit=300';

  // Call the functions to read the CSV and JSON and add the results to the leaflet
  readCSV(localitiesURL);
  // Call the function to fetch all data
  readAndShowJSON(historicalDataUrl);

  // Create layer control and add to the map
  L.control.layers(
    {
        'OpenStreetMap': osm,
        'Satellite': satellite,
        'Terrain': terrain
    },
    {
        'Gereserveerd locaties': markersLayer,
        'Waarnemingen': jsonLayer
    }
  ).addTo(map);

  // Add legend to the map
  var legend = L.control({position: 'bottomright'});

  legend.onAdd = function(map) {
    var div = L.DomUtil.create('div', 'legend');
    var labels = ['<strong>Species</strong>'];
    for (var species in speciesColors) {
        labels.push(
            '<em style="background:' + speciesColors[species] + '"></em> ' +
            species
        );
    }
    div.innerHTML = labels.join('<br>');
    return div;
  };

  legend.addTo(map);

</script>
